/* Theme colors. */
:root {
	--mdc-theme-primary: #152859;
	--mdc-theme-secondary: #676778;
	--mdc-theme-background: #fff;
	--mdc-theme-surface: #fff;
	--mdc-theme-error: #b71c1c;
	--mdc-theme-on-primary: #fff;
	--mdc-theme-on-secondary: #fff;
	--mdc-theme-on-surface: #000;
	--mdc-theme-on-error: #fff;
	--mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
	--mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
	--mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
	--mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
	--mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
	--mdc-theme-text-primary-on-dark: white;
	--mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
	--mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
	--mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
	--mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
  }

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
	max-width: 100%;
	height: 100%;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.card-container p, .card-container h2 {
	text-align: start;
}

.sg-gantt {
    font-size: 10px;
}

.sg-task.position-hack .sg-task-content {
	right: 10px;
}

.sg-task.teal, .teal {
	background-color: #b2dfdb;
}

.sg-task.teal:hover {
	background-color: #a3cfcb;
}

.sg-task.selected.teal {
	background-color: #80cbc4;
}

.sg-task.selected.teal:hover {
	background-color: #68a7a1;
}

.sg-task.green, .green {
	background-color: #c8e6c9;
}

.sg-task.green:hover {
	background-color: #b9d1ba;
}

.sg-task.selected.green {
	background-color: #a5d6a7;
}

.sg-task.selected.green:hover {
	background-color: #90bd92;
}


.sg-task.light-green, .light-green {
	background-color: #dcedc8;
}

.sg-task.light-green:hover {
	background-color: #d2e3be;
}

.sg-task.selected.light-green {
	background-color: #c5e1a5;
}

.sg-task.selected.light-green:hover {
	background-color: #b5c3a5;
}

.sg-task.yellow, .yellow {
	background-color: #fff9c4;
}

.sg-task.yellow:hover {
	background-color: #ede7b4;
}

.sg-task.selected.yellow {
	background-color: #fff59d;
}

.sg-task.selected.yellow:hover {
	background-color: #fff283;
}

.sg-task.amber, .amber {
	background-color: #ffecb3;
}

.sg-task.amber:hover {
	background-color: #f3e1ab;
}

.sg-task.selected.amber {
	background-color: #ffe082;
}

.sg-task.selected.amber:hover {
	background-color: #efd278;
}

.sg-task.light-orange, .light-orange {
	background-color: #ffe0b2;
}

.sg-task.light-orange:hover {
	background-color: #fbdeb2;
}

.sg-task.selected.light-orange {
	background-color: #ffcc80;
}

.sg-task.selected.light-orange:hover {
	background-color: #ffc267
}

#example-gantt .sg-cell-inner {
	margin-left: 15px;
}

#example-gantt .sg-tree-expander {
    justify-content: flex-start;
	align-items: center;
    display: flex;
    position: absolute;
    z-index: 10;
    margin-left: -15px;
	width: 240px;
}

#example-gantt .sg-tree-expander > i {
	font-size: 17px;
}

/* .sg-cell-inner {
	padding-left: 25px !important;
} */

.sg-popup {
    padding: 0.5rem;
    background: #fff;
    border: #ccc 1px solid;
    z-index: 10;
    transform: translateX(-50%);
	width: 300px;
}

.sg-popup.invisible {
	position: absolute;
    top: -500px;
}

.sg-popup-title {
    text-align: center;
}

.sg-popup-item {
    display: flex;
}

.sg-popup-item-label {
    font-weight: 300;
    flex: 30% 1 1;
}

.selected {
    font-weight: 700;
}


/* --------------------------- */
/* ------- Task colors ------- */
/* --------------------------- */
/* .sg-task.blue {
    background: rgb(116, 191, 255);
}

.sg-task.blue:hover {
    background: rgb(98, 161, 216);
}

.sg-task.blue.selected {
    background: rgb(69, 112, 150);
}

.sg-task.blue.selected:hover {
    background: rgb(60, 98, 131);
} */

/* .sg-task.green {
    background-color: rgb(188, 235, 194);
}

.sg-task.green:hover {
    background-color: rgb(143, 197, 150);
}

.sg-task.green.selected {
    background: rgb(121, 150, 125);
}

.sg-task.green.selected:hover {
    background: rgb(100, 126, 103);
}

.sg-task.orange {
    background-color: rgb(254, 172, 49)
}

.sg-task.orange:hover {
    background-color: rgb(238, 161, 45)
}

.sg-task.orange.selected {
    background-color: rgb(219, 149, 45)
}

.sg-task.orange.selected:hover {
    background-color: rgb(199, 135, 38)
} */

.context-menu {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.row-disabled {
    background: repeating-linear-gradient(45deg, rgba(55, 55, 55, 0.1), rgba(55, 55, 55, 0.1) 10px, transparent 10px, transparent 20px);
}

.sg-table-row.row-group .sg-table-body-cell {
    background-color: #fbfbfb;
	border-bottom: #efefef 1px solid;
}

.sg-table-row .sg-table-body-cell {
	border-bottom: #efefef 1px solid;
	font-weight: 350 !important;
}

.sg-table-header {
	font-weight: bold;
    border-bottom: #efefef 1px solid;
}

.sg-table-header .sg-table-header-cell {
	font-weight: bold;
}

.column-header-cell {
	border-right: #efefef 1px solid;
    border-bottom: #efefef 1px solid;
}

#example-gantt .sg-task-content {
	color: #333 !important;
}

#example-gantt .sg-task:hover::before {
	cursor: pointer;
}

#example-gantt .sg-task:hover::after {
	cursor: pointer;
}

#example-gantt .sg-task:hover {
	cursor: pointer;
}

#example-gantt .bottom-scrollbar-visible {
	padding-bottom: 0;
}

#example-gantt .right-scrollbar-visible {
	padding-right: 0;
}

#example-gantt .sg-task.selected:hover {
	/* background-color: #ffebee; */
}

.sg-external-indicator {
    position: absolute;
    background: #eee;
    padding: 0.5em 1em;
    font-size: 12px;
    pointer-events: none;
    background-color: rgb(116, 191, 255);
    color: white;
    font-family: 'Lato', sans-serif;
    z-index: 10;
}

input[type=button] {
	border: transparent;
	font-size: 14px;
	font-weight: 300;
	padding: 6px 12px;
	background: #cc595e;
	color: #ffffff;
	cursor: pointer;
	transition: background 0.2s;
	outline: none;
}

input[type=button]:hover {
	background-color: #b14d51;
}

input[type=button]:active {
	background-color: #9d4548;
}

.header {
	display: flex;
	padding: 16px;
	background: #ee6e73;
}

.material-select {
	margin: 10px 0 10px 0;
}

.text-field {
	margin: 10px 0 10px 0;
}

.notifications .position-top-center {
	z-index: 50;
}

@media only screen and (max-width: 900px) {
	.header {
		flex-direction: column;
	}

	.header-title {
		justify-content: center;
		margin-bottom: 6px;
	}

	.header-controls {
		justify-content: center;
	}
}

.header-title {
	display: flex;
	flex: 1;
	align-items: center;
	font-size: 36px;
	padding: 0 16px;
}

.header-title a {
	color: #ffffff;
	text-decoration: none;
}

.header-controls {
	display: flex;
	align-items: center;
}

.header input {
	margin-right: 4px;
}
.code-float {
	margin: 0;
	min-width: 400px;
	overflow: auto;
}
pre {
	background-color: #f9f9f9;
	color: #333;
	font-size: 0.8em;
}
.container {
	display: flex;
	overflow: auto;
	flex: 1;
}